:root {
    --main-bg: #ffffff;
    --primary-font: "Roboto", sans-serif;
    --secondary-font: "Raleway", sans-serif;
    --primary-font-size: 14px;
    --logo-font-size: 26px;
    --logo-font-weight: 700;
    --logo-letter-spacing: 0.78px;
    --small-letter-spacing: 0.48px;
    --main-color: #212121;
    --support-color: #2196f3;
    --text-color: #757575;
}

body {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-size: var(--primary-font-size);
}

.site-header{
    background-color: var(--main-bg);
}

.brand {
    font-family: var(--secondary-font);
    font-size: var(--logo-font-size);
    font-weight: var(--logo-font-weight);
    letter-spacing: var(--logo-letter-spacing);
}

.accent {
    color: var(--support-color);
}

.brand:hover,
.brand:focus {
    color: black;
    cursor: pointer;
}

.contact-link {
    color: var(--text-color);
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
}

.nav-item {
    color: var(--main-color);
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
}

.active-link {
    color: var(--support-color);
}

button {
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 300ms;
    line-height: inherit;
    font-size: inherit;
    font-family: inherit;
}

a {
    text-decoration: none;
    color: inherit;
    transition: 300ms;
    cursor: pointer;
    line-height: inherit;
    font-size: inherit;
}

a:hover,
a:focus {
    color: var(--support-color);
}

ul {
    list-style: none;
}

.site-footer {
    background-color: #2f303a;
}

.logo-footer {
    color: #ffffff;
}

.logo-footer:hover {
    color: #ffffff;
}

address {
    text-decoration: none;
}

.address-link {
    color: rgba(255, 255, 255, 0.6);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.14;
    letter-spacing: 0.42px;
}

.address-map {
    color: #ffffff;
}

.hidden-title {
    position: absolute;
    left: -1000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.intro {
    background-color: #2f303a;
}

.intro-title {
    color: #ffffff;
    text-align: center;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 2.64px;
    text-transform: uppercase;
}

.intro-btn {
    color: #ffffff;
    background-color: var(--support-color);
    font-family: var(--primary-font);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.96px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.intro-btn:hover,
.intro-btn:focus {
    background-color: #188ce8;
}

.feature-title {
    color: var(--main-color);
    text-transform: uppercase;
    font-weight: 700;
    font-size: inherit;
    letter-spacing: 0.42px;
}

.feature-desc {
    color: var(--text-color);
    line-height: 1.71;
    letter-spacing: 0.42px;
}

.section-title {
    color: var(--main-color);
    font-weight: 700;
    font-size: 36px;
    font-style: inherit;
    letter-spacing: 1.08px;
    background-color: #f5f4fa;
}

.team-name {
    color: #212121;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: var(--small-letter-spacing);
    text-align: center;
}

.team-role {
    font-size: 16px;
    letter-spacing: var(--small-letter-spacing);
    color: var(--text-color);
    text-align: center;
}

.team {
    background-color: #f5f4fa;
}

.section-namer {
    color: var(--main-color);
    font-weight: 700;
    font-size: 36px;
    font-style: inherit;
    letter-spacing: 1.08px;
}