@import url(https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap);

:root {
    --main-bg: #ffffff;
    --primary-font: "Roboto", sans-serif;
    --secondary-font: "Raleway", sans-serif;
    --primary-font-size: 14px;
    --logo-font-size: 26px;
    --logo-font-weight: 700;
    --logo-letter-spacing: 0.78px;
    --small-letter-spacing: 0.48px;
    --main-color: #212121;
    --support-color: #2196f3;
    --text-color: #757575;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-size: var(--primary-font-size);
}

header {
    display: block;
    border: 1px #ECECEC solid;
}

.site-header .header-cont {
    background-color: var(--main-bg);
    font-weight: 500;
    color: #212121;
    display: flex;
    align-items: center;
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.container {
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    font-family: var(--secondary-font);
    font-size: 26px;
    font-weight: var(--logo-font-weight);
    letter-spacing: var(--logo-letter-spacing);
    word-wrap: break-word;
    margin-right: 93px;
}

.accent {
    color: var(--support-color);
}

.brand:hover,
.brand:focus {
    color: black;
    cursor: pointer;
}

.contact-link {
    color: var(--text-color);
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
}

.active-page {
    color: #2196F3;
}

.contact-info {
    display: flex;
    gap: 40px;
    margin-left: auto;
    padding: 32px 0;
    color: #757575;
}

.nav-list {
    display: flex;
    gap: 50px;
}

.nav-list a {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
    word-wrap: break-word;
    text-decoration: none;
    transition: color 300ms;
}

.nav-item {
    color: var(--main-color);
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
}

.active-link {
    color: var(--support-color);
}

button {
    cursor: pointer;
    transition: background-color 300ms;
    line-height: inherit;
    font-size: inherit;
    font-family: inherit;
    border-radius: 4px;
}

section {
    padding: 94px 0;
}

a {
    text-decoration: none;
    color: inherit;
    transition: 300ms;
    cursor: pointer;
    line-height: inherit;
    font-size: inherit;
}

a:hover,
a:focus {
    color: var(--support-color);
}

ul {
    list-style: none;
    font-size: var(--primary-font-size);
    margin: 0;
    padding: 0;
}

.site-footer {
    background-color: #2f303a;
    padding-top: 60px;
    padding-bottom: 60px;
}

.logo-footer {
    color: #ffffff;
    font-size: 26px;
    font-family: var(--secondary-font);
    font-weight: 700;
    letter-spacing: var(--logo-letter-spacing);
    word-wrap: break-word;
    text-decoration: none;
}

.logo-footer:hover {
    color: #ffffff;
}

.footer-address {
    margin-top: 28px;
}

address {
    text-decoration: none;
}

.address-map {
    color: white;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.42px;
    word-wrap: break-word;
    text-decoration: none;
    font-style: normal;
}

.address-link {
    color: rgba(255, 255, 255, 0.6);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.14;
    letter-spacing: 0.42px;
}

.list-address:not(:last-child) {
    margin-bottom: 12px;
}

.address-link-email {
    color: rgba(255, 255, 255, 0.6);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.14;
    letter-spacing: 0.42px;
    margin-bottom: 12px;
}

.address-link-tell {
    color: rgba(255, 255, 255, 0.6);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.14;
    letter-spacing: 0.42px;
    margin: 0 0 12px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }  

.address-map {
    color: #ffffff;
}

.hidden-title {
    position: absolute;
    left: -1000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.intro {
    background-color: #2f303a;
    height: 600px;
    display: flex;
    align-items: center;
    background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), url(/images/hero.png);
}

.intro-title {
    color: #ffffff;
    text-align: center;
    font-size: 44px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 2.64px;
    text-transform: uppercase;
    max-width: 696px;
    text-align: center;
    margin-bottom: 30px;
    word-wrap: break-word;
    font-family: "Roboto", sans-serif;
}

.intro-btn {
    color: #ffffff;
    background-color: var(--support-color);
    font-family: var(--primary-font);
    font-size: 16px;
    line-height: 1.87;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    width: 200px;
    height: 50px;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 300ms;
    display: block;
    margin: 0 auto;
    text-align: center;
    border: #2196f3;;
}

.intro-btn:hover,
.intro-btn:focus {
    background-color: #188ce8;

}

.features {
    padding-bottom: 0;
}

.feature-list {
    display: flex;
}

.feature-title {
    color: var(--main-color);
    text-transform: uppercase;
    font-weight: 700;
    font-size: inherit;
    letter-spacing: 0.42px;
    margin-bottom: 10px;
}

.feature-name:not(:first-child) {
    margin-left: 30px;
    max-width: 270px;
}

.feature-name {
    max-width: 270px;
}

.feature-desc {
    color: var(--text-color);
    line-height: 24px;
    letter-spacing: 0.42px;
    font-size: 14px;
    text-transform: none;


}

.ativity-list {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.ativity-list-item:not(:first-child) {
    margin-left: 30px;
}

.section-title {
    color: var(--main-color);
    font-weight: 700;
    font-size: 36px;
    font-style: inherit;
    letter-spacing: 1.08px;
    background-color: #f5f4fa;
    text-align: center;
}

.team-list {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.team-list-item {
    margin-left: 30px;
    background: white;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    height: auto;
    background-color: white;
    border-radius: 0px 0px 4px 4px;
}

.team-name {
    color: #212121;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: var(--small-letter-spacing);
    text-align: center;
    margin-bottom: 10px;
    word-wrap: break-word;
}

.card-list {
    padding: 30px;
}

.team-role {
    font-size: 16px;
    letter-spacing: var(--small-letter-spacing);
    color: var(--text-color);
    text-align: center;
    margin-bottom: 16px;
}

.team {
    background-color: #f5f4fa;
}

.section-namer {
    color: var(--main-color);
    font-weight: 700;
    font-size: 36px;
    font-style: inherit;
    letter-spacing: 1.08px;
    text-align: center;
}

.portfolio-gallery {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.portfolio-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px
}

.portfolio_item {
    display: inline-block;
    background-color: var(--background-color);
    border: 1px #EEEEEE solid;
    max-width: 370px;
}

.portfolio-card-item {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.portfolio-title {
    line-height: 36px;
    letter-spacing: 1.08px;
    color: #212121;
    font-weight: 700;
    font-size: 18px;
    font-family: var(--primary-font);
}

.portfolio-category {
    line-height: 30px;
    letter-spacing: 0.48px;
    font-size: 16px;
    color: #757575;
    font-weight: 400;
    font-family: var(--primary-font);
}

.potrfolio-thumb {
    display: inline-block;
}

.filters {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 50px;
}

.filter-btn {
    color: var(--main-color);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62;
    letter-spacing: var(--small-letter-spacing);
    font-family: inherit;
    background-color: #f5f4fA;
    word-wrap: break-word;
    display: block;
    border-radius: 4px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 22px;
    padding-right: 22px;
    border: white;
}

.filter-btn:hover,
.filter-btn:focus {
    color: var(--main-bg);
    background-color: var(--support-color);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
}

.customer-title {
    text-align: center;
    font-size: 36px;
    letter-spacing: 1.08px;
    font-weight: 700;
    word-wrap: break-word;
    color: var(--main-color);
}

.customer-list {
    display: flex;
    gap: 30px;
    margin-top: 50px;
    justify-content: center;
    flex-wrap: wrap;
}

.customer-list-item {
    width: 170px;
    height: 92px;
}

.customer-effect {
    display: flex;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    fill: none;
    transition: border-color 0.3s;
}

.customer-svg {
    width: 106px;
    height: 60px;
    fill: none;
    transition: fill 0.3s ease;
    position: relative;
}

.customer-svg:hover {
    fill: #2196F3;
}

.customer-list-item a:hover, 
.customer-list-item a:focus {
    border-color: blue;
}

.customer-list-item a:hover .customer-svg,
.customer-list-item a:focus .customer-svg  {
    fill: blue;
}

.footer-container {
    display: flex;
    align-items: baseline;
    gap: 94px;
}

.cont-footer {
    margin-left: 174px;
}

.contact-team {
    max-width: 206px;
    max-height: 80px;
}

.contact-title {
    color: var(--main-bg);
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.team-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.team-join a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background: #ffffff1a;
    border-radius: 50%;
    color: #fff;
    transition: background 0.3s ease, color 0.3s ease;
    cursor: pointer;
}

.team-join-link {
    width: 20px;
    height: 20px;
    fill: #fff;
}

.card-link {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.card-team-link a {
    width: 44px;
    height: 44px;
    transition: 300ms;
    display: inline-block;
    border-radius: 50%;
    padding: 12px 12px;
    transition: color 0,3s ease;
}

.card-team-link:hover {
    background-color: var(--support-color);
    border-radius: 50%;
}

.card-link-b {
    width: 20px;
    height: 20px;
    fill: #afb1b8;
    transition: fill 0,3s;
}

.card-link-b:hover {
    fill: #fff;
}

.feature-name-ph {
    background: #f5f4fa;
    display: inline-block;
    width: 100%;
    height: 120px;
    padding: 25px 100px;
    margin-bottom: 30px;
    border-radius: 4px;
}

.feature-photo {
    width: 70px;
    height: 70px;
}