@import url(https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap);

:root {
    --main-bg: #ffffff;
    --primary-font: "Roboto", sans-serif;
    --secondary-font: "Raleway", sans-serif;
    --primary-font-size: 14px;
    --logo-font-size: 26px;
    --logo-font-weight: 700;
    --logo-letter-spacing: 0.78px;
    --small-letter-spacing: 0.48px;
    --main-color: #212121;
    --support-color: #2196f3;
    --text-color: #757575;
}

* {
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

img {
    display: block;
}

body {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-size: var(--primary-font-size);
}

header {
    display: block;
    border: 1px #ECECEC solid;
    height: 80px;
}

.header {
    border-bottom: 1px solid #ECECEC;
    
}

@media (max-width: 1200px) {
    .footer__team {
    display: flex;
    justify-content: center;
    align-items: center;
    }
}


@media (max-width: 720px) {
    .header__container {
      justify-content: space-around;
      padding-left: 25px;
    }
}

@media (max-width: 990px) {
    .header__logo {
      justify-content: flex-end;
    }
  }

  @media (max-width: 720px) {
    .header__navigation {
      display: none;
    }
  }

  .burger-button {
    flex-direction: column;
    padding: 20px 0;
    gap: 4px;
    display: none;
    position: relative;
    z-index: 10;
  }
  @media (max-width: 720px) {
    .burger-button {
      display: flex;
      background: #fff;
      margin-right: 10px;
      cursor: pointer;
    }
    .burger-button:hover, .burger-button:focus {
      color: #2196F3;
    }
  }
  .burger-button::before, .burger-button::after {
    content: "";
    transform: rotate(0);
    transform-origin: 1.5px 50%;
  }
  .burger-button__item, .burger-button::before, .burger-button::after {
    width: 24px;
    height: 3px;
    transition: transform 0.3s ease, opacity 0.3s ease;
    background: #212121;
  }
  .burger-button_open .burger-button__item {
    opacity: 0;
  }
  .burger-button_open::after {
    transform: rotate(-45deg);
  }
  .burger-button_open::before {
    transform: rotate(45deg);
  }
  
  .menu-burger {
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 48px 40px;
    top: 0;
    right: -100%;
    transition: right 0.3s;
    width: 100%;
    height: 100vh;
    z-index: 6;
    max-width: 700px;
    background: #FFF;
    display: none;
  }
  @media (max-width: 720px) {
    .menu-burger {
      display: hidden;
      height: 900px;
    }
  }
  .menu-burger_open {
    background: #fff;
    right: 0;
  }
  @media (max-width: 700px) {
    .menu-burger_open {
      display: flex;
    }
  }
  .menu-burger__body {
    margin-bottom: auto;
  }
  .menu-burger__list {
    margin-bottom: 306px;
  }
  .menu-burger__item:not(:last-child) {
    margin-bottom: 32px;
  }
  .menu-burger__link {
    color: #212121;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 0.8px;
    transition: color 0.3s;
  }
  .menu-burger__link:hover, .menu-burger__link:focus {
    color: #2196F3;
  }
  
  .contact-2 {
    display: inline-block;
    margin-bottom: 64px;
  }
  .contact-2__item:not(:last-child) {
    margin-bottom: 32px;
  }
  .contact-2__tel {
    color: #757575;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.48px;
  }
  .contact-2__email {
    color: #2196f3;
    font-family: Roboto;
    font-size: 34px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.68px;
  }
  
  .social-list-2 {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .social-list-2__item::before {
    content: "";
    width: 1px;
    height: 22px;
    background: rgba(33, 33, 33, 0.2);
  }
  .social-list-2__item::after {
    content: "|";
    margin-left: 10px;
  }
  .social-list-2__link {
    color: #2196f3;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.36px;
  }

  .footer__form  {
    display: flex;
    gap: 12px;
    align-items: center;
    width: 100%;
  }

  .features__photo-container {
    background: #F5F4FA;
    display: inline-block;
    margin-bottom: 30px;
    border-radius: 4px;
    height: 120px;
    padding: 25px 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }


@media (max-width: 720px) {
    .contact {
      display: none;
    }
  }
@media (max-width: 1200px) {
    .contact {
      max-width: 200px;
    }
  }

  @media (min-width: 721px) and (max-width: 900px) {
    .contact-info {
      display: flex;
      margin-left: auto;
      flex-wrap: wrap;
      gap: 0px;
      max-width: 160px;
    }
  }

  @media (max-width: 720px) {
    .header__contact-info .mail {
      display: none;
    }
  }
  @media (max-width: 1200px) {
    .contact-info .mail-tel {
      padding: 9px 0;
    }
  }

  @media (max-width: 720px) {
    .header__contact-info  .header__contact-link {
       display: none;
     }
   }

   @media (min-width: 721px) and (max-width: 900px){
    .header__contact-info {
    display: flex;
    margin-left: auto;
    flex-wrap: wrap;
    gap: 0px;
    max-width: 160px;
    }
 }

   @media (max-width: 1200px){
    .portfolio {
    display: none;
    }
}

@media (max-width: 765px) {
    .feature__list {
      width: 100%;
      display: flex;
      flex-direction: column;
    }
  }

  @media (min-width: 765px) {
    .features__item {
      width: 354px;
    }
  }

  @media (min-width: 765px) {
    .features__title-secondary {
      display: flex;
      justify-content: flex-start;
    }
  }

  @media (max-width: 1200px) {
    .team__list {
      max-width: 738px;
      margin: 0 auto;
      flex-wrap: wrap;
      display: flex;
      gap: 30px;

    }
  }

  @media (max-width: 765px) {
    .team__item {
      margin: 0 auto;
    }
  }

  @media (max-width: 767px) {
    .team__item-img {
      max-width: 450px;
      width: 100%;
    }
}

@media (min-width: 768px) {
    .team__item-img {
      max-width: 270px;
      width: 100%;
    }
}

@media (max-width:610px) {
    .portfolio-card__img-item {
        max-width: 450px;
        width: 100%;
    }
}

@media (min-width:611px) {
    .portfolio-card__img-item {
        width: 370px;
        height: 294px;
    }
}

  @media (min-width: 765px) and (max-width: 1024px) {
    .team__item-img {
      width: 354px;
      height: 374px;
    }
  }

  @media (max-width: 1200px) {
    .regular-customers__container {
      max-width: 738px;
      margin: 0 auto;
    }
  }

  @media (max-width: 1200px) {
    .regular-customers__item {
      width: 210px;
    }
  }

  @media (max-width: 1200px) and (min-width: 320px) {
    .portfolio-card__item {
      width: 354px;
    }
  }

  @media (max-width: 765px) and (min-width: 320px) {
    .portfolio-card__item {
      width: 100%;
      max-width: 450px;
    }
  }

  @media (max-width: 765px) and (min-width: 320px) {
    .portfolio-card__element-text {
      width: 450px;
      max-width: 450px;
    }
  }
  @media (max-width: 765px) and (min-width: 320px) {
    .portfolio-card__element-text img {
      width: 100%;
      max-width: 450px;
    }
  }

  @media (min-width: 1201px) {
    .footer__container {
      display: flex;
      flex-direction: row;
    }
  }

  @media (min-width: 1201px) {
    .footer__content {
      align-items: flex-start;
    }
  }

  @media (max-width: 1200px) {
    .footer__content {
      align-items: center;
    }
  }

  @media (min-width: 1201px) {
     .footer__address-item {
      align-items: flex-start;
    }
  }

  @media (max-width: 1200px) {
    .footer .footer__team {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }
  }

  .footer__newsletter {
    position: relative;
  }

  @media (max-width: 1200px) {
    .footer .footer__newsletter {
      align-items: center;
      max-width: 450px;
      display: flex;
      flex-direction: column;
        input {
            margin-bottom: 20px;
      }
    }
  }

  @media (max-width: 1200px) {
    .footer .footer__form {
      flex-direction: column;
    }
  }
  @media (min-width: 319px) and (max-width: 360px) {
    .footer .footer__form input {
      max-width: 300px;
    }
  }

  @media (max-width: 720px) {
    .modal {
      position: relative;
      top: 25%;
      left: 25%;
    }
  }

  @media (min-width: 765px) and (max-width: 1200px){
  .feature__list {
      width: 738px;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      justify-content: center;
      align-content: center;
  }
}


@media (min-width: 1201px) {
    .footer__container {
    display: flex;
    flex-direction: row;
    }
 }

 @media (min-width: 1201px) {
    .footer__content {
    align-items: flex-start;
    }
}

@media (max-width: 1200px) {
    .footer__content {
    align-items: center;
    }
}


.header__container {
    font-weight: 500;
    color: #212121;
    display: flex;
    align-items: center;
    flex-direction: row;
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    height: 80px;
}

.container {
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.header__logo {
    font-family: var(--secondary-font);
    font-size: 26px;
    font-weight: var(--logo-font-weight);
    letter-spacing: var(--logo-letter-spacing);
    word-wrap: break-word;
    margin-right: 93px;
}

.header__logo-accent {
    color: var(--support-color);
}

.brand:hover,
.brand:focus {
    color: black;
    cursor: pointer;
}

.contact-link {
    color: var(--text-color);
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
}

.header__nav-link--active {
    color: #2196F3;
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
}

.header__contact-info {
    display: flex;
    column-gap: 40px;
    margin-left: auto;
    color: #757575;
    justify-content: space-between;
}

.header__contact-item {
    display: inline-block;
}

.header__icon-svg {
    fill: #757575;
    transition: fill 300ms ease-in-out;
    width: 16px;
    height: 12px;
}

.header__nav-list {
    display: flex;
    gap: 50px;
    justify-content: space-between;
}

.header__nav-list a {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
    word-wrap: break-word;
    text-decoration: none;
    transition: color 300ms;
}

.nav-item {
    color: var(--main-color);
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
}

.active-link {
    color: var(--support-color);
}

button {
    cursor: pointer;
    transition: background-color 300ms;
    line-height: inherit;
    font-size: inherit;
    font-family: inherit;
    border-radius: 4px;
}

section {
    padding: 94px 0;
}

a {
    text-decoration: none;
    color: inherit;
    transition: 300ms;
    cursor: pointer;
    line-height: inherit;
    font-size: inherit;
}

a:hover,
a:focus {
    color: var(--support-color);
}

ul {
    list-style: none;
    font-size: var(--primary-font-size);
    margin: 0;
    padding: 0;
}

.footer {
    background-color: #2f303a;
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    justify-content: center;
}

.footer__logo {
    color: #ffffff;
    font-size: 26px;
    font-family: var(--secondary-font);
    font-weight: 700;
    letter-spacing: var(--logo-letter-spacing);
    word-wrap: break-word;
    text-decoration: none;
}

.footer__logo:hover {
    color: #ffffff;
}

.footer__address {
    margin-top: 28px;
}

address {
    text-decoration: none;
}

.footer__address-link {
    color: white;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.42px;
    word-wrap: break-word;
    text-decoration: none;
    font-style: normal;
}

.address-link {
    color: rgba(255, 255, 255, 0.6);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.14;
    letter-spacing: 0.42px;
}

.footer__address-item:not(:last-child) {
    margin-bottom: 12px;
}

.footer__email {
    color: rgba(255, 255, 255, 0.6);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.14;
    letter-spacing: 0.42px;
    margin-bottom: 12px;
}

.footer__tel {
    color: rgba(255, 255, 255, 0.6);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.14;
    letter-spacing: 0.42px;
    margin: 0 0 12px;
}

.features__title {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }  

.footer__address-link {
    color: #ffffff;
}

.hidden-title {
    position: absolute;
    left: -1000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.intro {
    background-color: #2f303a;
    height: 600px;
    display: flex;
    align-items: center;
    background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), url(../images/hero.png);
}

.intro__title {
    color: #ffffff;
    text-align: center;
    font-size: 44px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 2.64px;
    text-transform: uppercase;
    max-width: 696px;
    text-align: center;
    margin-bottom: 30px;
    word-wrap: break-word;
    font-family: "Roboto", sans-serif;
}

.intro__btn {
    color: #ffffff;
    background-color: var(--support-color);
    font-family: var(--primary-font);
    font-size: 16px;
    line-height: 1.87;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    width: 200px;
    height: 50px;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 300ms;
    display: block;
    margin: 0 auto;
    text-align: center;
    border: #2196f3;;
}

.intro-btn:hover,
.intro-btn:focus {
    background-color: #188ce8;

}

.features {
    padding-bottom: 0;
}

.feature__list {
    display: flex;
    gap: 30px;
}

.features__title-secondary {
    color: var(--main-color);
    text-transform: uppercase;
    font-weight: 700;
    font-size: inherit;
    letter-spacing: 0.42px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

.features__item:not(:first-child) {
    width: 100%;
}

.features__item {
    width: 100%;
}

.features__desc {
    color: var(--text-color);
    line-height: 24px;
    letter-spacing: 0.42px;
    font-size: 14px;
    text-transform: none;


}

.portfolio__list {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.portfolio__item:not(:first-child) {
    margin-left: 30px;
}

.portfolio__item {
    position: relative;
}

.team__title{
    color: var(--main-color);
    font-weight: 700;
    font-size: 36px;
    font-style: inherit;
    letter-spacing: 1.08px;
    background-color: #f5f4fa;
    text-align: center;
}

.team__list {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 30px;
}

.team__item {
    background: white;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    height: auto;
    background-color: white;
    border-radius: 0px 0px 4px 4px;
}

.team__name {
    color: #212121;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: var(--small-letter-spacing);
    text-align: center;
    margin-bottom: 10px;
    word-wrap: break-word;
}

.team__card {
    padding: 30px;
}

.team__role {
    font-size: 16px;
    letter-spacing: var(--small-letter-spacing);
    color: var(--text-color);
    text-align: center;
    margin-bottom: 16px;
}

.team {
    background-color: #f5f4fa;
}

.portfolio__title {
    color: var(--main-color);
    font-weight: 700;
    font-size: 36px;
    font-style: inherit;
    letter-spacing: 1.08px;
    text-align: center;
}

.portfolio-gallery {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.portfolio-card__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px
}

.portfolio-card__item{
    display: inline-block;
    background-color: var(--background-color);
    border: 1px #EEEEEE solid;
    max-width: 370px;
}

.portfolio-card__detail {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.portfolio-card__title {
    line-height: 36px;
    letter-spacing: 1.08px;
    color: #212121;
    font-weight: 700;
    font-size: 18px;
    font-family: var(--primary-font);
}

.portfolio-card__category {
    line-height: 30px;
    letter-spacing: 0.48px;
    font-size: 16px;
    color: #757575;
    font-weight: 400;
    font-family: var(--primary-font);
}

.potrfolio-thumb {
    display: inline-block;
}

.portfolio-controls__filters {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 50px;
}

@media (max-width:650px) {
    .portfolio-controls__filters {
    flex-wrap: wrap;
}

}

.portfolio-controls__filter-btn {
    color: var(--main-color);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62;
    letter-spacing: var(--small-letter-spacing);
    font-family: inherit;
    background-color: #f5f4fA;
    word-wrap: break-word;
    display: block;
    border-radius: 4px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 22px;
    padding-right: 22px;
    border: white;
}

.portfolio-controls__filter-btn:hover,
.portfolio-controls__filter-btn:focus {
    color: var(--main-bg);
    background-color: var(--support-color);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
}

.regular-customers__title {
    text-align: center;
    font-size: 36px;
    letter-spacing: 1.08px;
    font-weight: 700;
    word-wrap: break-word;
    color: var(--main-color);
}

.regular-customers__list {
    display: flex;
    gap: 30px;
    margin-top: 50px;
    justify-content: center;
    flex-wrap: wrap;
}

.regular-customers__item {
    width: 170px;
    height: 92px;
}

.regular-customers__link {
    display: flex;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    fill: #AFB1B8;
    transition: border-color 0.3s;
}

.regular-customers__svg {
    width: 106px;
    height: 60px;
    transition: fill 0.3s ease;
    position: relative;
}


.regular-customers__item a:hover, 
.regular-customers__item a:focus {
    border-color: #2196F3;
}

.regular-customers__item a:hover .regular-customers__svg,
.regular-customers__item a:focus .regular-customers__svg  {
    fill: #2196F3;
}

.footer__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.footer__team {
    max-width: 206px;
    max-height: 80px;
}

.footer__team-title {
    color: var(--main-bg);
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.footer__team-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.footer__team-item a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background: #ffffff1a;
    border-radius: 50%;
    color: #fff;
    transition: background 0.3s ease, color 0.3s ease;
    cursor: pointer;
}

.footer__team-item a:hover,
.footer__team-list a:focus {
    background-color: #2196F3;
}


.footer__icon {
    width: 20px;
    height: 20px;
    fill: #fff;
}

.team__links {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.team__link-item a {
    width: 44px;
    height: 44px;
    transition: 300ms;
    display: inline-block;
    border-radius: 50%;
    padding: 12px 12px;
    transition: color 0,3s ease;
    fill: #afb1b8;
}

.team__link-item a:hover,
.team__link-item a:focus {
    background-color: #2196F3;
    border-radius: 50%;
    fill: #fff
}

.team__icon {
    width: 20px;
    height: 20px;
    transition: fill 0,3s;
}

.features__photo{
    width: 70px;
    height: 70px;
}

.header__contact-link {
    display: flex;
    align-items: center;
    gap: 10px;
    fill: #757575;
    transition: fill 300ms ease-in-out;
}

.header__contact-link {
    display: flex;
    align-items: center;
    gap: 10px;
    fill: #757575;
    transition: fill 300ms ease-in-out;
}

.header__contact-link svg {
    width: 16px;
    height: 13px;
}

.header__contact-linkl svg {
    width: 10px;
    height: 17px;
}

.header__contact-link:hover svg,
.header__contact-link:focus svg {
    fill: #2196F3;
}

.header__contact-link:hover svg,
.header__contact-link:focus svg {
    fill: #2196F3;
}



.phone {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 40px; 
}

.portfolio-card__text-position {
    position: relative;
    overflow: hidden;
}

.portfolio-card__text-element {
    transition: transform 250ms ease;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(101%);
    height: 100%;
    width: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    padding: 24px;
    align-items: center;
    display: flex;
}

.portfolio-card__element-text {
    color: #fff;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.54px;
}

.portfolio-card__item:hover,
.portfolio-card__item:focus{
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.portfolio-card__item:hover .portfolio-card__text-element {
    transform: translateY(0);
}

.header__nav-link--active::after {
    content: "";
    background-color: #2196F3;
    border-radius: 2px;
    position: absolute;
    height: 4px;
    left: 0;
    bottom: 1px;
    width: 100%;
}

.backdrop {
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: fixed;
    background-color: rgba(0, 0, 0, 0.20);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
}

.modal__btn-close {
    position: absolute;
    background-color: var(--white-color);
    border-radius: 50%;
    fill: var(--primary-color);
    border: 1px solid rgba(0, 0, 0, 0.10);
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    padding-top: 6px;
    padding-bottom: 5px;
    padding-left: 5px;
    cursor: pointer;
}

.modal__icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: var(--primary-color);
    width: 18px;
    height: 18px;
    margin-top: 3px;
    margin-left: 3px;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    background-color: #fff;
    border-radius: 4px;
    width: 528px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.backdrop--close-box {
    opacity: 0;
    pointer-events: none;
}

.portfolio__description {
    position: absolute;
    bottom: 0;
    height: 70px;
    width: 100%;
    padding: 27px 0;
    color: #fff;
    background-color: rgba(47, 48, 58, 0.8);
    text-align: center;
    align-items: center;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

.footer__newsletter-title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    color: #fff;
}

.footer__input {
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.30);
    padding: 15px 16px;
    width: 358px;
    color: #afb1b8;
    background-color: #2f303a;
}

.email-form::placeholder {
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.48px;
  }

.footer__button {
    border-radius: 4px;
    background: #2196F3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.96px;
    padding: 10px 28px 10px 28px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.footer__button:focus,
.footer__button:hover {
  background-color: #2196F3;
}

.footer__button-icon {
    width: 24px;
    height: 25px;
}

.footer__button-text {
    display: flex;
    align-items: center;
    gap: 10px;
}

.modal__text {
    text-align: center;
    font-size: 20px;
    letter-spacing: 0.6px;
}

.form-input-modal {
    margin-top: 12px;
}

.modal__label {
    position: relative;
    color: rgba(117, 117, 117, 1);
    font-size: 12px;
    letter-spacing: 0.12px;
}

.modal__input-text {
    transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: 1px solid rgba(33, 33, 33, 0.20);
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.20);
    padding: 12px 16px;
    width: 100%;
    margin-top: 4px;
    color: var(--black-color);
    background-color: #fff;
    margin-bottom: 10px;
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    padding-left: 40px; 
}

.modal__input-text:focus {
    outline: none;
    border: 1px solid #2196F3;
}

.modal__icon-form {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: black;
    position: absolute;
    top: 31px;
    left: 10px;
}

.modal__label:focus-within svg, 
.modal__label:hover svg {  
    fill: #2196F3;
}

.modal__button {
    display: block;
    align-self: center;
    color: #fff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #2196F3;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    width: 200px;
    letter-spacing: 0.96px;
    line-height: 1.875;
    padding: 10px 52px;
    margin-left: auto;
    margin-right: auto; 
    border: none;
    margin-top: 30px;
}

.modal__label--comment {
    height: 120px;
    resize: none;
    color: rgba(117, 117, 117, 1);
}

.modal__checkbox-svg {
    transition: fill 250ms, background-color 250ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 16px;
    height: 15px;
    border: 2px solid var(--black-color);
    border-radius: 2px;
    margin-right: 7px;
    margin-bottom: 3px;
    vertical-align: middle;
}

.modal__checkbox-svg:active,
.modal__checkbox-svg:focus {
    fill: #188ce8;
    border: none;
}

textarea {
    height: 120px;
}

.modal__checkbox{
    display: none;
}

.modal__label--checkbox {
    color: #757575;
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 7px;
}


  .modal__checkbox-svg {
    cursor: pointer;
    fill: transparent; 
    border: 2px solid #000;
    border-radius: 4px;
  }
  
  .modal__checkbox:checked + .modal__checkbox-svg {
    fill: #120fd4;
    background-color: #188ce8;
    stroke: #ffffff;
    stroke-width: 2; 
    border: none;
  }